#COMENZANDO CON UN ENTORNO DE DESARROLLO COMO GOOGLE COLAB
'''
Así se puede colocar un formato al texto explicativo que se escribe en colab
'''

# TITULO PRINCIPAL
## TITULO ORDEN 2
### Titulo de orden 3
 Texto normal

**Colocar negrilla**

*Colocar cursiva*

'''
Con # se comenta texto de una sola línea
'''

```
Para
comentar
texto de
varias
lineas
se usan
3 comillas sencillas
antes y despues
del comentario
```

In [ ]:
#Aquí comenzaremos a escribir nuestro código
#recuerden que los comentarios no ejecutan ninguna acción en los bloques de programa "Como este donde estoy escribiendo", solo son textos explicativos del bloque

#Ahora si escribamos algo fácil

print("Este es mi primer programa en Python") #con la función print() imprimimos un texto en pantalla

print(2024) #Pero también podemos imprimir números reales, enteros o hasta complejos

print(365/7) #tambien podemos realizar operaciones dentro de la función de impresión

print("el numero de semanas que tiene un año es: ", 365/7) #Podemos mezclar texto y numeros en la impresión

Este es mi primer programa en Python
2024
52.142857142857146
el numero de semanas que tiene un año es:  52.142857142857146

In [1]:
print("Este es mi primer programa en Python") #con la función print() imprimimos un texto en pantalla

Este es mi primer programa en Python

# Variables

In [ ]:
#Una variable es un dato en la memoria de la computadora que puede tomar cualquier valor que el programador le asigne dentro de un programa
#variable de tipo numérico
a = 3

#variable de tipo caracter
b  = '5'

#Variable de tipo cadena de caracteres
c = "Hola a todos"

# Tipos de datos en Python

## Lógicos o Booleanos

In [ ]:
a = True

b = False

print(type(a))

<class 'bool'>

## Numéricos

In [ ]:
#numeros
a = 3
print(type(a))

b = 3.14
print(type(b))

<class 'int'>
<class 'float'>

## Caracteres

In [ ]:
# Caracteres
c = 'a'
print(type(c))

#Cadenas de caracteres

cadena = "Python es un lenguaje de programación"
print(type(cadena))

'3'
print(type('3'))

<class 'str'>
<class 'str'>
<class 'str'>

# Tipos de dato compuestos

In [ ]:
# los tipos de datos compuestos son aquellos que se componen por dos o mas tipos de datos simples (enteros, flotantes, caracteres)

## Listas

In [ ]:
# Una lista es un conjunto de varios tipos de dato, pueden ser solo enteros, flotantes, cadenas de caracteres o todos al mismo tiempo

lista1 = ['a', 'b', 'c']
print(lista1)

lista2 = [1, 2, 3,4]
print(lista2)

lista3 = [1.1, 2.2, 3.3, 5.1]
print(lista3)

lista4 = ['a', 1, 3.14, "cadena"]
print(lista4)

['a', 'b', 'c']
[1, 2, 3, 4]
[1.1, 2.2, 3.3, 5.1]
['a', 1, 3.14, 'cadena']

### Accediendo a los elementos de la lista

In [ ]:
# Para acceder a los elementos de una lista se debe escribir el nombre de la lista acompañado del índice del elemento al que se quiere acceder
# Nota: Este índice siempre comienza en cero
lista1 = ['a', 'b', 'c', 'x', 'y', 'z']
#lista1[1]
#print(lista1[-3])

# se puede acceder a varios elementos de la lista a la vez con el operador ":"
print(lista1[3:4])

['x']

## Tuplas

In [ ]:
# Las tuplas pueden verse como listas con la particularidad de que no se puede modificar su contenido una vez creadas, es decir son inmutables

tupla1 = (1,2,3)
tupla1

tupla2 = ('a', 'z')
tupla2

tupla3 = ('a', 10, 24.6)
tupla3

('a', 10, 24.6)

## Diccionarios

In [ ]:
#Los diccionarios son un tipo de dato especial que esta compuesto por dos partes: Una llave y un valor, los valores no podrán ser extraidos del diccionario si no se hace referencia a la llave

Diccionario1 = {'numero': 1, 'letra': 'v', 'flotante': 3.14 }
Diccionario1

#accediendo a un dato del diccionario
Diccionario1['flotante']

3.14

#Operaciones con datos numéricos

In [ ]:
a = 3 + 5
print(a)

b = 3 * 5
print(b)

c = 2**3 # OPeración de Potenciación
print(c)

d = 3//2 # Operación Division entera
print(d)

e = 15%11 # Operación Módulo
print(e)

8
15
8
1
4

Ingrese su peso en Kg 99
Ingrese su estatura en metros 1.5
el indice de masa corporal es:  44.0
En sobrepeso grado 3

# Ciclo For

In [ ]:
alumnos = ["Ane", "Mikel", "Unai", "Lorea"]
for alumno in alumnos:
    print(alumno)

frase = "Hola chic@s "


z = (frase[3:8])
z

Ane
Mikel
Unai
Lorea

'a chi'

In [ ]:
notas = [5.0, 3.6, 3.9, 2.1, 1.0] # lista
suma = 0
for i in notas:
  suma = suma + i

promedio = suma/len(notas)
print(promedio)

3.12

In [ ]:
notas = []
suma = 0
for i in range(5):
  notas.append(float(input("Ingrese la nota ")))

print(suma)
promedio = suma/len(notas)
print(promedio)
notas

Ingrese la nota 5
Ingrese la nota 5
Ingrese la nota 5
Ingrese la nota 5
Ingrese la nota 5
10
2.0

[5.0, 5.0, 5.0, 5.0, 5.0]

In [ ]:
frase = "Aprendiendo Python"
for c in frase:
    print(c)

# Ciclo for else

In [ ]:
alumnos = ["Ane", "Mikel", "Unai", "Lorea"]
for alumno in alumnos:
    print(alumno)
else:
    print("No quedan más alumnos.")

Ane
Mikel
Unai
Lorea
No quedan más alumnos.

# Ciclo while

In [ ]:
contador = 0

while(contador < 3):
  print("contador = ", contador)
  contador+=1 #equivalente a escribir contador = contador + 1
print("Cilco while terminado")

contador =  0
contador =  1
contador =  2
Cilco while terminado

In [ ]:
contador = 0
while(contador < 15):
  print("Ingrese un numero")
  print(contador)
  contador = contador + 1

In [ ]:
#Adivina el número

numeroGanador = 5
eventos = 0
while(eventos != numeroGanador):
  eventos = int(input("Ingrese un numero "))
print("Adivinaste, el numer ganador es", numeroGanador)

Ingrese un numero 1
Ingrese un numero 2
Ingrese un numero 3
Ingrese un numero 4
Ingrese un numero 6
Ingrese un numero 8
Ingrese un numero 7
Ingrese un numero 5
Adivinaste, el numer ganador es 5

# while else

In [ ]:
count = 0
while(count < 5):
    count = count+1
    print("Iteración número {}".format(count))
else:
    print("Bucle while finalizado")

Iteración número 1
Iteración número 2
Iteración número 3
Iteración número 4
Iteración número 5
Bucle while finalizado

# Sentencia Break

In [ ]:
contador = 0
while(contador < 5):
    contador = contador+1
    print("Iteración número",contador)
    if contador == 3:
        break
print ("¡Fin!")

Iteración número 1
Iteración número 2
Iteración número 3
¡Fin!

In [ ]:
numeros = [4,8,2,7,1,9,3,5]
total = 0

for n in numeros:
    total += n
    if total > 10:
        break
print("Total ", total)

Total  12

# Sentencia Continue

In [ ]:
contador = 0
while(contador < 5):
    contador = contador+1
    if contador == 3:
        continue
    print("Iteración número {}".format(contador))
print ("¡Fin!")

Iteración número 1
Iteración número 2
Iteración número 4
Iteración número 5
¡Fin!

In [ ]:
numeros = [4,8,2,7,1,9,3,5]
total = 0

# solo sumar los números impares
for num in numeros:
    if num % 2 == 0:
        print("Numero par, no lo sumamos")
        continue
    total += n

Numero par, no lo sumamos
Numero par, no lo sumamos
Numero par, no lo sumamos

# función range()

In [ ]:
for i in range(4):
    print(i)

0
1
2
3

In [ ]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [ ]:
for i in range(2,10,3):
    print(i)

2
5
8

# Función len()

In [ ]:
z = "soy una cadena de caracteres"

tamaño  = len(z)
print("el tamaño de la cadena z es ", tamaño)

el tamaño de la cadena z es  28

In [ ]:
alumnos = ["Ane", "Mikel", "Unai", "Lorea"]
tamaño = len(alumnos)
print("la cantidad de elementos de la lista alumnos es ", tamaño)

la cantidad de elementos de la lista alumnos es  4

In [ ]:
alumnos = ["Ane", "Mikel", "Unai", "Lorea"]
for i in range(len(alumnos)):
  print(alumnos[i])

Ane
Mikel
Unai
Lorea

# Funciones

In [ ]:
# Se crean 3 variables una para alojar los numeros a sumar
# y la otra para guardar el resultado de la suma

#variables globales, es decir son visibles y existen a lo largo de todo el programa
numero1 = 5
numero2 = 4
valor = 0

# Se crea la función suma
def suma():
  #total es una variable local, es decir solo es visible y existen dentro de la funcion suma
  total = numero1 + numero2
  return total

# se debe llamar a la funcion para que se ejecute
valor = suma()
print("el valor de la suma es ", valor)

el valor de la suma es  9

# Funciones con parámetros

In [ ]:
def suma(numero1, numero2):
  total = numero1 + numero2
  return total

print(f"La suma de {3} y {4} da como resultado {suma(3,4)}" )

La suma de 3 y 4 da como resultado 7

#funciones con parámetros por defecto

In [ ]:
def saludo(nombre = "Estudiantes  de Programación"):
    print("Hola, " + nombre+ ". ¡Bienvenid@!")

saludo("Juan") # Hola, Juan. ¡Bienvenid@!

Hola, Juan. ¡Bienvenid@!

In [ ]:
def saludo(nombre = "Estudiantes  de Programación"):
    print("Hola, " + nombre+ ". ¡Bienvenid@!")

saludo() # Hola, Estudiantes  de Programación. ¡Bienvenid@!

Hola, Estudiantes  de Programación. ¡Bienvenid@!

In [ ]:
def saludo(nombre = "Estudiantes  de Programación"):
    print("Hola, " + nombre+ ". ¡Bienvenid@!")

saludo("Juan") # Hola, Juan. ¡Bienvenid@!
saludo() # Hola, Estudiantes  de Programación. ¡Bienvenid@!

Hola, Juan. ¡Bienvenid@!
Hola, Estudiantes  de Programación. ¡Bienvenid@!

# Funciones con múltiples parámetros

In [ ]:
def suma_todo(*args):
    resultado = 0
    for i in args:
        resultado += i
        return resultado
x, y, z = 1, 2, 10
total = suma_todo(x, y, z)
total
#print("La suma total es:" + str(total))  # La suma total es: 34

1

In [ ]:
def suma_todo(*args):
    resultado = 0
    for i in args:
        resultado += i
        return resultado
v, w, x, y, z = 5, 2, 12, 6, 9
total = suma_todo(v, w, x, y, z)
print("La suma total es:" + str(total))  # La suma total es: 34

La suma total es:5

# Funciones Lambda

In [ ]:
def resta(a,b): return a - b
resultado = resta(23, 11)
print(resultado)

12

In [ ]:
suma = lambda a,b: a+b

print(suma(2,5))

7

# Documentacion (tipado)

In [ ]:
def suma(a: int, b: int) -> int:
  return a + b

print(suma(10.2 , 20))

print(suma.__annotations__)

30.2
{'a': <class 'int'>, 'b': <class 'int'>, 'return': <class 'int'>}

# Funciones que retornan más de un valor

# Funcion random() y randint()

In [ ]:
from random import randint

z = randint(1,100000)
print(z)

52835

In [ ]:
def calculaCuadrado(numero = 2):
  resultado = numero**2
  #return resultado
  print (resultado)

#print(calculaCuadrado(1971))
print(calculaCuadrado(98))

9604
None

In [ ]:
for i in range(5):
  print('{0:5} ->'.format(i))

    0 ->
    1 ->
    2 ->
    3 ->
    4 ->

In [ ]:
size = int(input("Please enter the table size: "))
# Print a size x size multiplication table
for row in range(1, size + 1):
  for column in range(1, size + 1):
    product = row*column # Compute product
    print('{0:4}'.format(product), end='') # Display product
  print()

Please enter the table size: 10
   1   2   3   4   5   6   7   8   9  10
   2   4   6   8  10  12  14  16  18  20
   3   6   9  12  15  18  21  24  27  30
   4   8  12  16  20  24  28  32  36  40
   5  10  15  20  25  30  35  40  45  50
   6  12  18  24  30  36  42  48  54  60
   7  14  21  28  35  42  49  56  63  70
   8  16  24  32  40  48  56  64  72  80
   9  18  27  36  45  54  63  72  81  90
  10  20  30  40  50  60  70  80  90 100

In [ ]:
size = int(input("Please enter the table size: "))
# Print a size x size multiplication table
# First, print heading: 1 2 3 4 5 etc.
print(" ", end='')
# Print column heading
for column in range(1, size + 1):
  print('{0:4}'.format(column), end='') # Display column number
print() # Go down to the next line
# Print line separator: +------------------
print(" +", end='')
for column in range(1, size + 1):
  print('----', end='') # Display line
print() # Drop down to next line

# Print table contents
for row in range(1, size + 1):
  print('{0:3} |'.format(row), end='') # Print heading for this row
  for column in range(1, size + 1):
    product = row*column # Compute product
    print('{0:4}'.format(product), end='') # Display product
  print()

Please enter the table size: 5
    1   2   3   4   5
 +--------------------
  1 |   1   2   3   4   5
  2 |   2   4   6   8  10
  3 |   3   6   9  12  15
  4 |   4   8  12  16  20
  5 |   5  10  15  20  25

In [ ]:
#Probar debugger en VSCode
max_value = int(input('Display primes up to what value? '))
value = 2 # Smallest prime number
while value <= max_value:
  # See if value is prime
  is_prime = True # Provisionally, value is prime
  # Try all possible factors from 2 to value - 1
  trial_factor = 2
  while trial_factor < value:
    if value % trial_factor == 0:
      is_prime = False # Found a factor
      break # No need to continue; it is NOT prime
    trial_factor += 1 # Try the next potential factor
  if is_prime:
    print(value, end= ' ') # Display the prime number
  value += 1 # Try the next potential prime number
print() # Move cursor down to next line

Display primes up to what value? 10
2 3 5 7

# Listas y Funciones sobre listas

In [ ]:
a = [1 , 2 , 5 , 7]
b = [" Lunes ", " Martes ", " Miercoles "]
c = [" Lunes ", 0 , " Miercoles ", 8 , 10]
d = [" Lunes ", [0 , 0] , " Miercoles ", [8 , 10]]

a = [1 , 2 , 5 , 7]
a [2] = 0

## Listas estructras de datos mutable o modificable

In [ ]:
#Cadenas son listas no mutables o modificables
a
[1 , 2 , 0 , 7]
b = " hola "
b [2] = 'j'

## Funciones heredadas con Python

### Función append

In [ ]:
Lista = []
for i in range(3):
    dato = float(input("Ingrese un numero entre 1 y 5: "))
    Lista.append(dato)
Lista

Ingrese un numero entre 1 y 5: 2
Ingrese un numero entre 1 y 5: 4
Ingrese un numero entre 1 y 5: 5

[2.0, 4.0, 5.0]

In [ ]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
a
#print(a[3])

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

## Función clear()

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()
fruits

TypeError: list.clear() takes no arguments (1 given)

## Función sort

In [ ]:
Lista = [1, 5, 2, 0]
#Lista = ['a','z','y','m','w','s']
#Lista = ['Bogota', 'Medellin','Cali','Bucaramanga', 'Bogot1']
#Lista = ['Bogota','A','1','2']
#Lista = ['a','b','C','d','E','1','/2','-5','+5','%','*','#']
Lista.sort()
Lista

[0, 1, 2, 5]

In [ ]:
#<ordena los elementos de la lista en orden descendente
#Lista = [1, 5, 2, 0]
Lista = ['Bogota', 'Medellin','Cali','Bucaramanga', 'Bogot1']
Lista.sort(reverse=True)
Lista

['Medellin', 'Cali', 'Bucaramanga', 'Bogota', 'Bogot1']

In [ ]:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
length = [len('Ford'),len('Mitsubishi'), len('BMW'), len('VW')]
print(length)
cars.sort(key=myFunc)

print(cars)

[4, 10, 3, 2]
['VW', 'BMW', 'Ford', 'Mitsubishi']

## Función reverse()

In [ ]:
A = [5, 3, 51, 3, 10]
A.reverse()

print(A)

[10, 3, 51, 3, 5]

In [ ]:
alph = ["a", "b", "c", "d"]
ralph = reversed(alph)
for x in ralph:
  print(x)

d
c
b
a

## Función Index

In [ ]:
A = [5, 3, 1, 10, 51]
x = A.index(10)
x

3

In [ ]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
x

2

In [ ]:
City = ['Bogota', 'Medellin', 'Cali','Bogota']
print(City.index('Cali'))

2

## Función insert()

In [ ]:
City = ['Bogotá', 'Barranquilla', 'Medellin']
City.insert(1, 'Cali')
City

['Bogotá', 'Cali', 'Barranquilla', 'Medellin']

In [ ]:
City = ['Bogotá', 'Barranquilla', 'Medellin']
City.insert(0, ['Sta Marta','Bucaramanga', 'Santander'] )
City

[['Sta Marta', 'Bucaramanga', 'Santander'],
 'Bogotá',
 'Barranquilla',
 'Medellin']

In [ ]:
City = ['Bogotá', 'Barranquilla', 'Medellin']
City.insert(3, ['Sta Marta','Bucaramanga', 'Santander'] )
City

['Bogotá',
 'Barranquilla',
 'Medellin',
 ['Sta Marta', 'Bucaramanga', 'Santander']]

## Función count()

In [ ]:
City = ['Bogota', 'Barranquilla', 'Medellin','Sta Marta','Bogota', 'Santander']
City.count('Bogota')

2

In [ ]:
a = [2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10, 7, 1, 7,3,2]
a.count(2)

2

## Función remove()

In [ ]:
City = ['Bogota', 'Barranquilla', 'Medellin','Sta Marta','Bogota', 'Santander']
City.remove('Bogota')
City

['Barranquilla', 'Medellin', 'Sta Marta', 'Bogota', 'Santander']

In [ ]:
a = [2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10, 7, 1, 7,3]
a.remove(7)
a

[2, 3, 4, 5, 6, 8, 9, 10, 7, 1, 7, 3]

## Función pop()

In [ ]:
City = ['Bogota', 'Barranquilla', 'Medellin','Sta Marta','Bogota', 'Santander']
City.pop(3)
City

['Bogota', 'Barranquilla', 'Medellin', 'Bogota', 'Santander']

In [ ]:
a = [2 , 3 , 4 , 5 , 6 , 7 ,'Pan', 8 , 9 , 10, 'Leche', 7, 1, 7,3]
a.pop(6)
a
#Ejercicio: Eliminar todas las cadenas de caracteres que se encuentren en una lista

[2, 3, 4, 5, 6, 7, 8, 9, 10, 'Leche', 7, 1, 7, 3]

## Función extend()

In [ ]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)
fruits.insert(3,cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']
['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo'], 'Ford', 'BMW', 'Volvo']

In [ ]:
b = [2, 4, 6, 8]
c = [1, 3, 5, 7]
c.extend(b)
print(c)

[1, 3, 5, 7, 2, 4, 6, 8]

In [ ]:
b = [2, 4, 6, 8]
c = [1, 3, 5, 7]
b.extend(c)
b

[2, 4, 6, 8, 1, 3, 5, 7]

## Método del()

In [ ]:

a = [2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10]
del a [3:]
a

[2, 3, 4]

In [ ]:
a= [2 , 3 , 4 , 5 , 6 , 7, 8, 9, 10, 12, 14]
del a [0:11:3]
a
#genere una lista de los primeros 50 números (1:50) y elimine o borre los multiplos de 5,
#usando las funciones vistas en clase

[3, 4, 6, 7, 9, 10, 14]

## Listas anidadas

In [ ]:
a = [1 , 2 , [5 , 4 , 6] , 3]
a [2]

[5, 4, 6]

In [ ]:
a [2][1]

4

In [ ]:
a [2][0]

5

In [ ]:
a [0]

1

## Matrices

In [ ]:
mat = [[1 ,2 ,3] , [5 ,4 ,6] , [7 ,8 ,9]]
mat

[[1, 2, 3], [5, 4, 6], [7, 8, 9]]

In [ ]:
lst_1 = [1, 2, 3]
lst_2 = [4, 5, 6]
lst_3 = [7, 8, 9]
matrix = [lst_1, lst_2, lst_3]

print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
#Acceder a un elemento de la matriz
z = matrix[1][2] #[Fila][Columna]
z

6

In [ ]:
#Acceder a todos los elementos de una fila "Fila 2"
mat = [[1 ,2 ,3] , [5 ,4 ,6] , [7 ,8 ,9]]
a = mat[2]
a

[7, 8, 9]

In [ ]:
#Asignar otro valor a un elemento de la matriz
mat = [[1 ,2 ,3] , [5 ,4 ,6] , [7 ,8 ,9]]
mat[0][0] = 100
mat

[[100, 2, 3], [5, 4, 6], [7, 8, 9]]

In [ ]:
mat[1] = 11,12,13
mat

[[100, 2, 3], (11, 12, 13), [7, 8, 9]]

In [ ]:
for fila in mat:
    for elemento in fila:
        print(elemento, end=' ')
    print()

1 2 3
5 4 6
7 8 9

## Funciones min,max,sum en listas

In [ ]:
#funcion min(): halla el valor minimo en una lista de numeros
lista = [10, 5, 15,26]
y = min(lista)
y

5

In [ ]:
#funcion max(): halla el valor máximo en una lista de numeros
lista = [10, 5, 15,26]
y = max(lista)
y

26

In [ ]:
#funcion sum(): halla el valor correspondiente a la suma de todos los elementos de la lista de numeros
lista = [10, 5, 15,26]
y = sum(lista)
y

56

## Listas y funciones de usuario

In [ ]:
def list_sum(lst):
    s = 0

    for elem in lst:
        s += elem

    return s
lista = [11,21,42]
print(list_sum(lista))

74

In [ ]:
def cuboLista(lista):
  cubo = []
  for i in lista:
    cubo.append(i ** 3)
  return cubo

x = cuboLista([1, 2, 3, 4])
x

[1, 8, 27, 64]

## Alcance y Visibilidad de las variables

In [ ]:
def scope_test():
    z = 123

# no puedo llamar a la variable z porque solo existe en el interior de la funcion scope_test()
scope_test()
print(z)

NameError: name 'z' is not defined

# Tuplas y sus funciones

In [ ]:
tupla = (1,2,3,4,5)

print(tupla)

(1, 2, 3, 4, 5)

In [ ]:
#se puede acceder a un elemento e las tuplas como en las listas
tupla = (1,2,3,4,5)
print(tupla[2])

3

In [ ]:
tupla = (10,20,30,40,50)
print(tupla[2:4])

(30, 40)

## Las tuplas son inmutables

In [ ]:
#Pero no se puede cambiar el valor de ningún elemento de la tupla
tupla = (10,20,30,40,50)
tupla[2] = 5

TypeError: 'tuple' object does not support item assignment

## Método len() para obtener la longitud de una tupla

In [ ]:
tupla1 = (1,1,2,3,5,2,3)
print(len(tupla1))

7

In [ ]:
tupla1 = (1,1,2,5,3)
z = len(tupla1)
z

5

## tupla con un único elemento

In [ ]:
# para crear una tupla con un único elemento se debe colocar una coma despues del elemento declarado
mi_tupla = (1,)
print(type(mi_tupla))

#si no se hace asi se tomara la tupla como una lista

mi_tupla1 = (1)
print(type(mi_tupla1))

<class 'tuple'>
<class 'int'>

## Tupla con elementos de diferentes tipos de datos

In [ ]:
tupla = ("Hola", "desde", "Python", 3.11, "en", 2024)
tupla

('Hola', 'desde', 'Python', 3.11, 'en', 2024)

## Recorriendo una tupla

In [ ]:
tupla = ("Hola", "desde", "Python", 3.11, "en", 2024)
for element in tupla:
  print(element)

Hola
desde
Python
3.11
en
2024

In [ ]:
tupla = ("Hola", "desde", "Python", 3.11, "en", 2024)
for element in range((len(tupla))):
  print(tupla[element])

Hola
desde
Python
3.11
en
2024

## Uniendo tuplas

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## Multiplicando tuplas

In [ ]:
tupla1 = ("a", "b" , "c")
tupla4 = tupla1*3
tupla4

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

## Método count()

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)
x

2

## Método index()

In [ ]:
tupla = ("Hola", "desde", "Python", 3.11, "en", 2024)

x = tupla.index(2024)
x

5

# Diccionarios

In [ ]:
mi_diccionario = {'Nombre': 'Gabriel', 'Apellido': 'Cortez'}
mi_diccionario = dict(Nombre = 'Gabriel', apellido = 'Cortez')
x = mi_diccionario['Nombre']
print(x)

print(mi_diccionario.get('Apellido'))

Gabriel
None

## Recorrer el diccionario con un bucle for

In [ ]:
#Recorriendo un diccionario por medio de un ciclo for
ciudades = {'Cundinamarca': 'Bogotá', 'Guajira': 'Rioacha', 'Boyaca': 'Tunja', 'Antioquia':'Medellin'}
for mico in ciudades:
  print(mico, ":", ciudades[mico])

Cundinamarca : Bogotá
Guajira : Rioacha
Boyaca : Tunja
Antioquia : Medellin

## Agregar elementos al diccionario

In [ ]:
ciudades['Quindio'] = 'Armenia'
ciudades

{'Cundinamarca': 'Bogotá',
 'Guajira': 'Rioacha',
 'Boyaca': 'Tunja',
 'Antioquia': 'Medellin',
 'Quindio': 'Armenia'}

## FUnción len()

In [ ]:
dicc1 = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(len(dicc1))

4

## Método keys()

In [ ]:
b = ciudades.keys()
b

dict_keys(['Cundinamarca', 'Guajira', 'Boyaca', 'Antioquia', 'Quindio'])

## Método values()

In [ ]:
c = ciudades.values()
c

dict_values(['Bogotá', 'Rioacha', 'Tunja', 'Medellin', 'Armenia'])

## Actualizar un valor del diccionario

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #antes del cambio

car["year"] = 2020

print(x) #despues del cambio

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [ ]:
# método update
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "red"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

## método clear()

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{}

## Método items()

In [ ]:
ciudades = {'Cundinamarca': 'Bogotá',
            'Guajira': 'Rioacha',
            'Boyaca': 'Tunja',
            'Antioquia':'Medellin'}
c = ciudades.items()
c

dict_items([('Cundinamarca', 'Bogotá'), ('Guajira', 'Rioacha'), ('Boyaca', 'Tunja'), ('Antioquia', 'Medellin')])

## Método pop()

In [ ]:
ciudades = {'Cundinamarca': 'Bogotá',
            'Guajira': 'Rioacha',
            'Boyaca': 'Tunja',
            'Antioquia':'Medellin'}
ciudades.pop('Antioquia')
ciudades

{'Cundinamarca': 'Bogotá', 'Guajira': 'Rioacha', 'Boyaca': 'Tunja'}

## Método setdefault()

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("color", "white")

print(x)
print(car)

white
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.setdefault("CC", 2000)

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'CC': 2000}

## Diccionarios con listas como elementos

In [ ]:
frutas_info = {
    'frutas': ['Manzana', 'Banana', 'Cereza', 'Durazno', 'Pera'],
    'precios': [1200, 500, 300, 1000, 1500],  # Precios por unidad
    'contenido_calorico': [52, 89, 50, 39, 39]  # Calorías por 100 gramos
}

In [ ]:
#Extrae el contenido del diccionario en la clave "frutas" que es una lista
frutas = frutas_info['frutas']
frutas #lista de frutas
print(type(frutas))

<class 'list'>

In [ ]:
#Accediendo a los datos
# Ejemplo de cómo acceder a la información
for i in range(len(frutas_info['frutas'])):
    fruta = frutas_info['frutas'][i]
    precio = frutas_info['precios'][i]
    calorias = frutas_info['contenido_calorico'][i]
    print(f"Fruta: {fruta}, Precio: ${precio}, Calorías: {calorias} kcal")

Fruta: Manzana, Precio: $1200, Calorías: 52 kcal
Fruta: Banana, Precio: $500, Calorías: 89 kcal
Fruta: Cereza, Precio: $300, Calorías: 50 kcal
Fruta: Durazno, Precio: $1000, Calorías: 39 kcal
Fruta: Pera, Precio: $1500, Calorías: 39 kcal

In [ ]:
#hallar la fruta mas costosa de todas
precios = frutas_info['precios']
# Encontrar el índice del precio más alto
indice_precio_max = precios.index(max(precios))
# Obtener la fruta correspondiente usando el índice
fruta_mas_costosa = frutas_info['frutas'][indice_precio_max]
print(f"La fruta más costosa es: {fruta_mas_costosa}")


frutaPrecios = frutas_info['precios']
frutaMasCostosa = frutas_info['frutas'][frutaPrecios.index(max(frutaPrecios))]
print(f'la fruta más cara es : {frutaMasCostosa}')

La fruta más costosa es: Pera
la fruta más cara es : Pera

In [ ]:
promedioCostoFrutas = sum(frutaPrecios)/len(frutaPrecios)
promedioCostoFrutas

900.0

# Strings

In [ ]:
a = "Hola mundo"
b = 'Hooola a todos'

print(a)
print(b)

Hola mundo
Hooola a todos

### Forma de recorrer un string

In [ ]:
for x in a:
  print(x)


for x in " Hola apreciados estudiantes 2S 2024":
  print(x)

H
o
l
a

m
u
n
d
o

H
o
l
a

a
p
r
e
c
i
a
d
o
s

e
s
t
u
d
i
a
n
t
e
s

## Longitud de una cadena de caracteres
## Función len()

In [ ]:
print(len(a))

print(len('Que tan larga es la cadena'))

print(len("Esta es otra forma"))

10
26
18

#Buscar un fragmento o palabra en una cadena
## operador "in"

In [ ]:
cadena = 'Texto con la palabra gratis'
print('gratiss' in cadena)

False

## condicional con substring o sub cadenas

In [ ]:
cadena = ' aprobo la asigntatura de fundamentos de programacion'
if "aprobo" in cadena:
  print("Felicidades")
else:
  print("lo lamento mucho")

Felicidades

## "not in" para verificar si una subcadena en una cadena

In [ ]:
cadena = 'reprobo el semestre por perder mas de tres materias simultaneamente'
if 'reprobo' not in cadena:
  print('vas bien')
else:
  print('lo siento, el otro semestre será')

lo siento, el otro semestre será

## Partiendo "Slicing" cadenas de caracteres

In [ ]:
cadena = 'Esto es una cadena'
print(cadena[: 7])#desde el inicio hasta la posicion 4

print(cadena[5:]) # desde la posición 5 hasta el final

Esto es
es una cadena

## Concatenar "Unir" cadenas "strings"

In [ ]:
x = 'bienvenidos '
y = 'al curso '
z = x + y
z = 'Hola a ' + 'todos'
print(z)

Hola a todos

In [ ]:
x = 'bienvenidos'
y = 'al curso'
w = 'de fundamentos de programación'
z = x + ' ' + y + ' '+ w
print(z)

bienvenidos al curso de fundamentos de programación

## Dando formato a las cadenas de caracteres
## f-strings

In [ ]:
#Una forma de hacerlo seria concatenando y convirtiendo la varibal flotante en string con la funcion str()
nota = 4.7
Nombre = 'Alejandro '
Texto = 'tiene una nota definitiva de: '

cadena = Nombre + Texto + str(nota)
cadena

'Alejandro tiene una nota definitiva de: 4.7'

In [ ]:
# f -strings: esta función permite concatenar string y valores en una sola cadena
print(f'{Nombre} {Texto} {nota}')

Alejandro  tiene una nota definitiva de:  4.7

In [ ]:
cadena = f'{Nombre} tiene una nota definitiva de: {nota}'
print(cadena)

Alejandro  tiene una nota definitiva de: 4.7

In [ ]:
print(f'{Nombre} tiene una nota definitiva de: {nota}')

Alejandro  tiene una nota definitiva de: 4.7

In [ ]:
promedio = 3.84577
asignatura = 'Física '

print(f'La asignatura de {asignatura} tiene un promedio de {promedio:.5f} sobre 5')

La asignatura de Física  tiene un promedio de 3.84577 sobre 5

## Modificadores de posición o alineación

In [ ]:
nombre = 'Ana'
print(f'Nombre a la derecha: +{nombre:>10}+') # 10 es la cantidad de caracteres totales
print(f'Nombre a la izquierda: |{nombre:<10}|') #| es un simbolo que se agrega puede ser cualquiera
print(f'Nombre centrado: |{nombre:^10}|') # > y < indican la direccion de alineación
                                          # ^ indica que se debe centrar el texto

Nombre a la derecha: +       Ana+
Nombre a la izquierda: |Ana       |
Nombre centrado: |   Ana    |

## formato de datos
### :.d -> indica numero entero
### :,d -> Usa comas como separadores de miles con numeros enteros
### :.f -> indica numero flotante
### :.s -> indica cadena de caracteres
### :b -> indica formato binario
### :o -> indica formato octal
### :x -> indica formato hexadecimal en minuscula
### :X -> indica formato hexadecimal en mayuscula
### :.% -> formato de procentaje
### :e -> expresa el numero en formato exponencial

In [ ]:
PI = 3.141599
print(f'el número PI = {PI:.2f}')

el número PI = 3.14

In [ ]:
PI = 3.141599
print(f'el número PI = {PI:.5f}')

el número PI = 3.14160

In [ ]:
carga = -0.00000000000000000016
print(f'la carga del electrón = {carga:e} Coulombs')

la carga del electrónI = -1.600000e-19 Coulombs

In [ ]:
IVA = 0.19
print(f'el iva en Colombia es {IVA:.0%}')

IVA = 0.19
print(f'el iva en Colombia es {IVA:.1%}')

IVA = 0.19
print(f'el IVA en Colombia es {IVA:.2%}')

el iva en Colombia es 19%
el iva en Colombia es 19.0%
el IVA en Colombia es 19.00%

In [ ]:
numero = 15
print(f'El numero {numero} en binario es {numero:b}')

El numero 15 en binario es 1111

In [ ]:
numero = 15
print(f'El numero {numero} en octal es {numero:o}')

El numero 15 en octal es 17

In [ ]:
numero = 15
print(f'El numero {numero} en hexadecimal es {numero:X}')

El numero 15 en hexadecimal es F

In [ ]:
numero = 15348964
print(f'el número {numero} con separador de miles es {numero:,d}')

el número 15348964 con separador de miles es 15,348,964

## Métodos sobre cadenas de caracteres "Strings"

### Método capitalize()

In [ ]:
# Convierte la primera letra de la oracion en mayuscula
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [ ]:
alumno = 'aNUEL'
print(alumno.capitalize())

Anuel

### función count()

In [ ]:
# cuenta el número de ocurrencias de una palabra o letra en una oración
txt = "I love apples, apple are my favorite fruit"

x = txt.count("f")

print(x)

2

In [ ]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("fruit")

print(x)

1

In [ ]:
# tambien recibe como parametros los valores de posición donde inicia la busqueda "10"
# y el valor de posición donde termina la busqueda "24"

inicio_busqueda = 10
fin_busqueda = 24
txt = "I love apples, apple are my favorite fruit"

x = txt.count("a", inicio_busqueda, fin_busqueda)

print(f'la letra a aparece {x} veces en la frase {txt}')

la letra a aparece 2 veces en la frase I love apples, apple are my favorite fruit

## Método find()

In [ ]:
# el metodo devuelve la posicion donde se encuentra la primera ocurrencia del parametro ingresado de busqueda
txt = "Hello, welcome to my world."

x = txt.find("welcome") # primera ocurrencia de la letra w de welcome

print(x)

7

In [ ]:
txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

1

In [ ]:
txt = "Hello, welcome to my world."

x = txt.find("e", 2, 7) # el valor -1 de retorno indica que no encontro ninguna coincidencia

print(x)

-1

## Método lower()

In [ ]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

## Método Upper()

In [ ]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

##Método split()

In [ ]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [ ]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)# 2 3

print(x)

['apple', 'banana#cherry#orange']

## Método strip()

In [ ]:
#Eliminar espacios al principio y al final de la cadena:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [ ]:
# Eliminar los caracteres iniciales y finales:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.rtg")

print(x)

banana

## Método replace()

In [ ]:
txt = "Juan tiene una nota de 1.7"

x = txt.replace("1.7", "4.7") # Reemplaza todas las apariciones de 1.7 por 4.7

print(x)

Juan tiene una nota de 4.7

In [ ]:
texto = 'winsy winsy araña tejio su telaraña'
print(texto.replace('winsy', 'insy',1))# puede controlar cuantas veces reemplaza el texto en la cadena original

insy winsy araña tejio su telaraña

#TAD Tipos Abstractos de Datos
## TAD Fecha

In [ ]:
#TAD Fecha
from datetime import date #importamos primero el paquete de date de la libreri datetime
import calendar

hoy = date(2024,10,9)# Formato es año mes, dia
print(hoy.day)
print(hoy.month)
print(calendar.month_name[hoy.month])
print(hoy.year)

9
10
October
2024

# Función main

In [ ]:
#creando un código
#importo un módulo para el manejo de los tipos de datos Fecha
from datetime import datetime
import math

def calcular_edad(fecha_nacimiento):
    hoy = datetime.now()
    edad = hoy.year - fecha_nacimiento.year
    # Verificar si ya pasó el cumpleaños este año
    if (hoy.month, hoy.day) < (fecha_nacimiento.month, fecha_nacimiento.day):
        edad -= 1
    return edad
#Creo una variable de tipo date para que funcione el código
fecha_nacimiento = datetime(2000, 1, 15)
edad = calcular_edad(fecha_nacimiento)
print(f"La edad es: {edad} años")
#Por medio de esta línea de código sabremos si este programa se ejecuta como el programa principal
print("principal __name__ is set to: {}" .format(__name__))

La edad es: 24 años
principal __name__ is set to: __main__

# Incorporando la funcion main

In [ ]:
from datetime import datetime

def calcular_edad(fecha_nacimiento):
    hoy = datetime.now()
    edad = hoy.year - fecha_nacimiento.year
    # Verificar si ya pasó el cumpleaños este año
    if (hoy.month, hoy.day) < (fecha_nacimiento.month, fecha_nacimiento.day):
        edad -= 1
    return edad

def FelizCumple(fecha_nacimiento):
    hoy = datetime.now()
    #print(f"la fecha actual es {hoy}")
    # Verificar si ya pasó el cumpleaños este año
    if (hoy.month, hoy.day) == (fecha_nacimiento.month, fecha_nacimiento.day):
        print("Feliz Cumple")
    else:
        print("Será otro día")

def main():
    #Creo una variable de tipo date para que funcione el código
    fecha_nacimiento = datetime(2000, 1, 15)
    edad = calcular_edad(fecha_nacimiento)
    print(f"La edad es: {edad} años")
    fecha = datetime(2004, 10, 15)
    FelizCumple(fecha)
#Se valida si la función main es la que se esta ejecutando
if __name__ == "__main__":
    main()

La edad es: 24 años
Será otro día

# Excepciones en Python

In [ ]:
while True:
    try:
        x = float(input("Please enter a number: "))
        break
    except ValueError:
        print("Oops!  That was no valid number.  Try again...")

x

Please enter a number: s
Oops!  That was no valid number.  Try again...
Please enter a number: 1

1.0

# Excepciones múltiples

In [ ]:
def dividir(a, b):
    try:
        resultado = a / b
    except ZeroDivisionError:
        return "Error: No se puede dividir entre cero."
    except TypeError:
        return "Error: Los valores deben ser números."
    else:
        return f"El resultado es: {resultado}"

# Ejemplos de uso
print(dividir(10, 2))  # Salida: El resultado es: 5.0
print(dividir(10, 0))  # Salida: Error: No se puede dividir entre cero.
print(dividir(10, "a"))  # Salida: Error: Los valores deben ser números.
print(dividir('b', 0))

El resultado es: 5.0
Error: No se puede dividir entre cero.
Error: Los valores deben ser números.
Error: Los valores deben ser números.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

try:
  dato = int(input("Ingrese un numero "))
except Exception as e:
  print(f"Error: {e}")

print("Programa finalizo correctamente")

Ingrese un numero q
Error: invalid literal for int() with base 10: 'q'
Programa finalizo correctamente

In [ ]:
try:
  print(b)
except:
  print(" variable x no ha sido definida")

print("Programa finalizo correctamente")

 variable x no ha sido definida
Programa finalizo correctamente

In [ ]:
try:
# generamos una erro de division por cero
  x = 2/1
except:
# Se ingresa ya que ha ocurrido una excepción
  print("Entra en except, ha ocurrido una excepción")
finally:
# El bloque finally es ejecutado siempre independiente
#de si ocurre o no excepción
  print("Entra en finally, se ejecuta el bloque finally")
print("Programa finalizó correctamente")

Entra en finally, se ejecuta el bloque finally
Programa finalizó correctamente

In [ ]:
try:
    raise Exception('spam', 'eggs')
except Exception as inst:
    print(type(inst))    # the exception type
    print(inst.args)     # arguments stored in .args
    print(inst)          # __str__ allows args to be printed directly,
                         # but may be overridden in exception subclasses
    x, y = inst.args     # unpack args
    print('x =', x)
    print('y =', y)

<class 'Exception'>
('spam', 'eggs')
('spam', 'eggs')
x = spam
y = eggs

#Creando una Clase

In [ ]:
class Persona:
    def __init__(self, nombre, edad, genero, estatura, peso):
        self.nombre = nombre  # Atributo para almacenar el nombre
        self.edad = edad      # Atributo para almacenar la edad
        self.genero = genero
        self.estatura = estatura
        self. peso = peso

    def saludar(self):
        """Método para saludar a la persona."""
        return f"Hola, mi nombre es {self.nombre} y tengo {self.edad} años."

    def cumplir_anios(self):
        """Método para incrementar la edad de la persona en un año."""
        self.edad += 1

    def engordar(self):
      self.peso +=1

    def adelgazar(self):
      self.peso -=1

    def crecer(self):
      self.estatura += 0.01

### Ejercicio de clase
### **Implementación de la clase Estudiante**

In [ ]:
class Estudiante:
    def __init__(self, nombre, apellido, anioNac, id, carrera, semestre, anioIng):
        self.nombre = nombre
        self.apellido = apellido
        self.anioNac = anioNac
        self.id = id
        self.carrera = carrera
        self.semestre = semestre
        self.anioIng = anioIng
        #self.edad = 0
        #self.Antiguedad = 0

    def __str__(self):
        return f"Hola me llamo {self.nombre} {self.apellido}"

    def calcularEdad(self):
        #Se crea una variable local "edad", es decir solo existe en la función y nada mas, no se puede llamar fuera de esta pq generaría un error
        edad = 2025 - self.anioNac
        return edad

    def calcularAntiguedad(self):
        #Variable local antiguedad
        antiguedad = 2025 - self.anioIng
        return antiguedad

    def incSemestre(self):
        self.semestre += 1
        return self.semestre # si no se coloca el semestre devolverá none en la impresión

### **Creación de objetos del tipo Estudiante**

In [ ]:
#Creamos un objeto de la clase Estudiante
E1 = Estudiante('Juan', 'Cortes', 1990, 1000, 'Ing Electrónica',10, 2020)

#La función __str__ permite imprimir directamente el o los objetos creados con un mensaje predefinido cuando se usa el print y el objeto
print(E1)
print(f"Mi edad es {E1.calcularEdad()}")
print(f"Mi antiguedad es {E1.calcularAntiguedad()}") #Si no se llama la función con los parentesis no devolvera el valor adecuado
                                                     # E1.calcularAntiguedad()
print(f"Mi semestre actual es {E1.semestre} y el proximo será {E1.incSemestre()}")

Hola me llamo Juan Cortes
Mi edad es 35
Mi antiguedad es 5
Mi semestre actual es 10 y el proximo será 11

##Creando un objeto (Instancia) de la clase Persona

In [ ]:
persona1 = Persona("Juan", 30, 'Masculino', 1.8, 80)
persona2 = Persona('Ana', 15, 'Femenino', 1.6, 55)

# Usar el método saludar
print(persona1.saludar())  # Salida: Hola, mi nombre es Juan y tengo 30 años.
print(persona2.saludar())
# Hacer que la persona cumpla años
persona1.cumplir_anios()
print(persona1.saludar())  # Salida: Hola, mi nombre es Juan y tengo 31 años.

persona1.adelgazar()
print(f"El peso de {persona1.nombre} es {persona1.peso}")
persona1.crecer()
print(f"La altura de {persona1.nombre} es {persona1.estatura}")
persona2.engordar()
print(f"El peso de {persona2.nombre} es {persona2.peso}")

Hola, mi nombre es Juan y tengo 30 años.
Hola, mi nombre es Ana y tengo 15 años.
Hola, mi nombre es Juan y tengo 31 años.
El peso de Juan es 79
La altura de Juan es 1.81
El peso de Ana es 56

# Funcion __init__()
  ## - Permite definir todos los valores iniciales de los atributos o propiedades del objeto cuando se crean.

In [ ]:
#Creando la clase con sus atributos y métodos
class Felino:
  def __init__(self, nombre, edad, peso):
    #asignando las propiedades al objeto
    self.nombre = nombre
    self.edad = edad
    self.peso = peso
#Definiendo los métodos que tendran los objetos de tipo Felino
  def comer(self):
    print(f"{self.nombre} está comiendo")

  def dormir(self):
    print(f"{self.nombre} está durmiendo")

#Creamos el objeto f1 de la clase Felino
f1 = Felino("Miau", 10, 1.5)
print(f1.nombre)
print(f1.edad)
print(f1.tamaño)
f1.comer()
f1.dormir()

función __str__()

In [ ]:
# Sin la funcion str()
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def Hablar(self,eventos):
    print(f'hablando {eventos} veces')

p1 = Person("John", 36)
p1.Hablar(10)
print(p1)

hablando 10 veces
<__main__.Person object at 0x7de8945bf400>

In [ ]:
# Con la función str()
class Person:
  def __init__(self, nombre, edad, peso):
    self.nombre = nombre
    self.edad = edad
    self.peso = peso
  def __str__(self):
    return f"{self.nombre}({self.edad} {self.peso})"
p1 = Person("Juan", 36, 75)
print(p1)

Juan(36 75)

# Método destructor __del__()

In [ ]:
class Empleado:
  def __init__(self):
    print("Empleado creado")

  def __del__(self):
    print("LLamando al destructor, Empleado eliminado")

if __name__ == "__main__":
  jugador = Empleado()

del jugador

Empleado creado
LLamando al destructor, Empleado eliminado

# Accediendo y modificando atributos de los objetos

In [ ]:
class Person:
  def __init__(self, nombre, edad, peso, estatura):
    self.nombre = nombre
    self.edad = edad
    self.peso = peso
    self.estatura = estatura
  def __str__(self):
    return f"{self.nombre}({self.edad} {self.peso} {self.estatura})"

p1 = Person("Juan", 36, 75, 1.80)
#accediendo a los datos del objeto
print(f"la edad del objeto asociado a p1 es {p1.edad} años")
print(f"y la estatura es {p1.estatura} metros")
#modificando los datos del objeto
p1.peso = 78
p1.edad = 37
print(f"la edad y peso actualizados son: {p1.peso} kg y {p1.edad} años")

la edad del objeto asociado a p1 es 36 años
y la estatura es 1.8 metros
la edad y peso actualizados son: 78 kg y 37 años

# Modificadores de acceso a métodos y variables

In [ ]:
class Persona:
    def __init__(self, nombre, edad, ciudad):
        # Modificador de acceso simulado: privado
        self.__nombre = nombre  # Variable privada
        self._edad = edad       # Variable protegida
        self.ciudad = ciudad    # Variable pública

    # Método para acceder al nombre
    def get_nombre(self):
        return self.__nombre

    # Método para establecer el nombre
    def set_nombre(self, nombre):
        self.__nombre = nombre

    # Método para mostrar información
    def mostrar_informacion(self):
        print(f"Nombre: {self.__nombre}")
        print(f"Edad: {self._edad}")
        print(f"Ciudad: {self.ciudad}")


# Ejemplo de uso
if __name__ == "__main__":
    p = Persona("Juan", 30, "Madrid")

    # Accediendo a la variable pública
    print(f"Ciudad: {p.ciudad}")

    # Accediendo a métodos
    p.mostrar_informacion()

    # Modificando el nombre usando el método setter
    p.set_nombre("Carlos")
    print(f"Nuevo Nombre: {p.get_nombre()}")

Ciudad: Madrid
Nombre: Juan
Edad: 30
Ciudad: Madrid
Nuevo Nombre: Carlos

# Intentando acceder a una variable privada y protegida

In [ ]:
#intentando acceder a una variable privada y protegida

print(p._edad) # Se puede acceder a la variable protegida, aunque lo ideal es no hacerlo
print(p.ciudad)
#p.mostrar_informacion()

#p.nombre = "Luis"
p.set_nombre("Luis")
#p.mostrar_informacion()
#print(p.__nombre)# Genera un error y no reconoce el atributo debido al modificador privado
p.get_nombre()

30
Madrid

'Luis'

# Herencia

In [ ]:
class Animal:
    def __init__(self, especie, edad):
        self.especie = especie
        self.edad = edad

    # Método genérico pero con implementación particular
    def hablar(self):
        # Método vacío
        pass

    # Método genérico pero con implementación particular
    def moverse(self):
        # Método vacío
        pass

    # Método genérico con la misma implementación
    def describeme(self):
        print("Soy un Animal del tipo", type(self).__name__)

# Perro hereda de Animal
class Perro(Animal):
    pass #Utilice la pass palabra clave cuando no desee agregar ninguna otra propiedad o método a la clase.

mi_perro = Perro('mamífero', 10)
mi_perro.describeme()
ballena = Animal('mamífero', 100)
ballena.describeme()

Soy un Animal del tipo Perro
Soy un Animal del tipo Animal

# Modificando los métodos de la clase padre con el método super()

In [ ]:
# Alternativa 1 Sin método super
class Perro(Animal):
    def __init__(self, especie, edad, dueño):
        self.especie = especie
        self.edad = edad
        self.dueño = dueño

In [ ]:
# Alternativa 2 Con método super
class Perro(Animal):
  def __init__(self, especie, edad, dueño):
    super().__init__(especie, edad)
    self.dueño = dueño

ballena.edad
p = Perro('mamífero', 10, 'Juan')
p.dueño

'Juan'

In [ ]:
class Animal:
    def __init__(self, nombre, especie):
        self.nombre = nombre
        self.especie = especie

    def hacer_sonido(self):
        return "El animal hace un sonido."

    def describir(self):
        return f"{self.nombre} es un {self.especie}."

class Perro(Animal): # Clase Perro hereda de la clase Animal
    def __init__(self, nombre, raza):
        super().__init__(nombre, "Perro")  # Llama al constructor de la clase base
        self.raza = raza

    def hacer_sonido(self):
        return "¡Guau!"

    def describir(self):
        return f"{self.nombre} es un {self.raza} y es un {self.especie}."

# Ejemplo de uso
if __name__ == "__main__":
    mi_perro = Perro("Fido", "Labrador")

    print(mi_perro.describir())  # Uso del método sobreescrito
    print(mi_perro.hacer_sonido())  # Uso del método sobreescrito

Fido es un Labrador y es un Perro.
¡Guau!

# Herencia múltiple

In [ ]:
class Animal:
    def __init__(self, nombre):
        self.nombre = nombre

    def reproducirse(self):
        return "Me reproduzco, es una de mis funciones vitales "


class Humano:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad

    def hablar(self):
        return "Hola, soy un hablador."


class Estudiante(Animal, Humano):
    def __init__(self, nombre, edad, carrera):
        Animal.__init__(self, nombre)  # Inicializa la clase Animal
        Humano.__init__(self, nombre, edad)  # Inicializa la clase Humano
        self.carrera = carrera

    def estudiar(self):
        return f"{self.nombre} está estudiando {self.carrera}."


# Ejemplo de uso
if __name__ == "__main__":
    estudiante = Estudiante("Juan", 20, "Ingeniería")

    print(estudiante.reproducirse())  # Llama al método de Animal
    print(estudiante.hablar())          # Llama al método de Humano
    print(estudiante.estudiar())        # Llama al método específico de Estudiante

Me reproduzco, es una de mis funciones vitales
Hola, soy un hablador.
Juan está estudiando Ingeniería.

In [ ]:

class Humano:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad

    def hablar(self):
        return "I speak English and Spanish."

class Parrandero:
    def __init__(self, nombre):
        self.nombre = nombre

    def Celebrar(self):
        return "Bebiendo todo el día, de fiesta vivo YO "

class Estudiante(Parrandero, Humano):
    def __init__(self, nombre, edad, carrera):
        Parrandero.__init__(self, nombre)  # Inicializa la clase Animal
        Humano.__init__(self, nombre, edad)  # Inicializa la clase Humano
        self.carrera = carrera

    def estudiar(self):
        return f"{self.nombre} está estudiando {self.carrera}."


# Ejemplo de uso
if __name__ == "__main__":
    estudiante = Estudiante("Juan", 20, "Ingeniería")

    print(estudiante.Celebrar())  # Llama al método de Animal
    print(estudiante.hablar())          # Llama al método de Humano
    print(estudiante.estudiar())        # Llama al método específico de Estudiante

Bebiendo todo el día, de fiesta vivo YO
I speak English and Spanish.
Juan está estudiando Ingeniería.

# Polimorfimso

 Ocurre cuando una clase que hereda de otra sobrescribe métodos de la clase padre y los personaliza a su necesidad
  En el ejemplo siguente aunque estamos llamando al método hacer_sonido en objetos de tipo Animal, el polimorfismo permite que cada clase hija (Perro y Gato) tenga su propia implementación del método. Eso es lo que hace que el perro diga "Guau" y el gato diga "Miau".

In [ ]:
class Animal:
    def hacer_sonido(self):
        pass  # Método vacío para ser sobrescrito en las clases hijas

In [ ]:
class Perro(Animal):
    def hacer_sonido(self):
        return "Guau"

class Gato(Animal):
    def hacer_sonido(self):
        return "Miau"

In [ ]:
# Lista de animales
animales = [Perro(), Gato()]

# Polimorfismo: aunque todos son 'Animal', el método 'hacer_sonido' se comporta de manera diferente dependiendo del tipo de objeto o clase
for animal in animales:
    print(animal.hacer_sonido())

Guau
Miau

## Variables de instancia y Variables de Clase

In [ ]:
class Perro:
  tipo = 'canino' # variable de clase que comparten las instancias
  def __init__(self, nombre):
    self.nombre= nombre # variables en instancias únicas de cada objeto o instancia creada.

d = Perro('Roc')
e = Perro('Luna')
d.tipo # compartido por todos los perros 'canino' >>>
d.nombre # único de d 'Roc'
e.nombre # único de e 'Luna'

'Luna'

# Cuidado con los objetos que son mutables como lo son las listas

In [ ]:
class Perro:
  trucos = [] # uso erróneo de variable de tipo lista en una clase
  def __init__(self, nombre):
      self.nombre= nombre # variables en instancias únicas de c/u
  def agrega_truco(self, truco):  # método
      self.trucos.append(truco)

d = Perro('Roc')
e = Perro('Luna')
d.agrega_truco('da vueltas')
e.agrega_truco('salta la cuerda')
d.trucos # resultado no deseado, compartido por todos los perros! ['da vueltas', 'saltala cuerda']

['da vueltas', 'salta la cuerda']

## Forma correcta

In [ ]:
class Perro:
   """ Ejemplo de diseño de clase: perro"""
   def __init__(self, nombre):
    self.nombre= nombre
    self.trucos= []
   def agrega_truco(self, truco):
     self.trucos.append(truco)

d = Perro('Roc')
e = Perro('Luna')
d.agrega_truco('dar vueltas')
e.agrega_truco('saltar la cuerda')
print(f"el truco de {d.nombre} es: {d.trucos[0]}")
print(f"el truco de {e.nombre} es: {e.trucos[0]}")

el truco de Roc es: dar vueltas
el truco de Luna es: saltar la cuerda

# **Relaciones entre clases**
##  - **1. Asociación**

### Es la relación más general: un objeto usa a otro, sin que haya propiedad ni dependencia fuerte.
**"Un objeto conoce a otro"**

In [ ]:
class Estudiante:
    def __init__(self, nombre):
        self.nombre = nombre

class Curso:
    def __init__(self, nombre):
        self.nombre = nombre
        self.estudiantes = []

    def agregar_estudiante(self, estudiante):
        self.estudiantes.append(estudiante)

# Ejemplo de uso
curso = Curso("Matemáticas")
estudiante = Estudiante("Juan")
curso.agregar_estudiante(estudiante)

## **2. Agregación**

La agregación es similar a la composición, pero más **flexible**: el objeto agregado no depende completamente de la clase que lo contiene **(relación más "débil")**.

In [ ]:
class Jugador:
    def __init__(self, nombre):
        self.nombre = nombre

class Equipo:
    def __init__(self, nombre):
        self.nombre = nombre
        self.jugadores = []

    def agregar_jugador(self, jugador):
        self.jugadores.append(jugador)

# Ejemplo de uso
equipo = Equipo("Fútbol")
jugador1 = Jugador("Pedro")
equipo.agregar_jugador(jugador1)

print(equipo.jugadores[0].nombre)  # Salida: Pedro

Pedro

In [ ]:
class Profesor:
    def __init__(self, nombre):
        self.nombre = nombre

class Curso:
    def __init__(self, nombre, profesor):
        self.nombre = nombre
        self.profesor = profesor  # Agregación: se pasa desde fuera

prof = Profesor("Dr. Pérez")
curso = Curso("Matemáticas", prof)

print(curso.profesor.nombre)  # ✔️ Comunicación entre objetos

In [ ]:
class Monitor:
    def __init__(self, modelo):
        self.modelo = modelo

class Computadora:
    def __init__(self, monitor):
        self.monitor = monitor  # Se pasa desde afuera

monitor1 = Monitor("LG 24'")
pc = Computadora(monitor1)

## **3. Composición**

La composición se presenta cuando una clase contiene a otra clase como parte esencial de su estructura. Es una relación **"tiene un"**

In [ ]:
class Habitacion:
    def __init__(self, nombre):
        self.nombre = nombre

class Casa:
    def __init__(self):
        self.habitaciones = []
    def __str__(self):
        return f"Casa con {len(self.habitaciones)} habitaciones"

    def agregar_habitacion(self, nombre):
        habitacion = Habitacion(nombre)
        self.habitaciones.append(habitacion)

# Ejemplo de uso
casa = Casa()
casa.agregar_habitacion("Sala")
casa.agregar_habitacion('Comedor')
print(casa)  # Salida: Casa con 2 habitaciones

Casa con 2 habitaciones

In [ ]:
class Motor:
    def arrancar(self):
        print("Motor arrancado")

class Auto:
    def __init__(self):
        self.motor = Motor()  # Composición: el Auto tiene un Motor

    def encender(self):
        self.motor.arrancar()

mi_auto = Auto()
mi_auto.encender()

Motor arrancado

In [ ]:
class Computadora:
    def __init__(self):
        self.monitor = Monitor("LG 24'")  # Se crea internamente

class Monitor:
    def __init__(self, modelo):
        self.modelo = modelo

pc = Computadora()

### **Diferencias entre composición y agregación**

![image.png]()

## 4. Herencia

In [ ]:
class Animal:
    def hacer_sonido(self):
        pass

class Perro(Animal):
    def hacer_sonido(self):
        return "Guau"

class Gato(Animal):
    def hacer_sonido(self):
        return "Miau"

# Ejemplo de uso
mi_perro = Perro()
print(mi_perro.hacer_sonido())  # Salida: Guau

Guau

## 5. Dependencia

 Un objeto usa temporalmente a otro, como parámetro en un método, pero no lo guarda.

**"Depende de" pero solo por un momento**

In [ ]:
class Impresora:
    def imprimir(self, documento):
        print(f"Imprimiendo {documento.contenido}")

class Documento:
    def __init__(self, contenido):
        self.contenido = contenido

I1 = Impresora()
D1 = Documento("Bienvenidos a las relaciones entre clases")
I1.imprimir(D1)

Imprimiendo Bienvenidos a las relaciones entre clases

## **Ejercicio:** Halle las relaciones implementadas en el siguiente código, justifique su respuesta

In [ ]:
class Cilindro:
    def __init__(self, VolCilindro):
        self.VolCilindro = VolCilindro

    def ajustarCilindros(self, NumCilindros):
        self.NumCilindros = NumCilindros
        return f'el motor tiene {NumCilindros} '


class Motor:
    def __init__(self, cilindros):
        self.cilindro = Cilindro(cilindros)


    def encender(self):
        return "Motor encendido"

class Coche:
    def __init__(self, motor):
        self.motor = motor

    def arrancar(self):
        return self.motor.encender()

# Ejemplo de uso
motor = Motor(4)
#asignacion de un nuevo atributo para el objeto motor, esta es una variable de instancia
motor.cilindraje = 2000
coche = Coche(motor)
motor.cilindro.ajustarCilindros(4)

#motor.cilindraje = 3000
print(coche.arrancar())
print(f'Mi coche consume {motor.cilindraje} cc')
print(f'Mi coche consume {coche.motor.cilindraje} cc')
print(f'Mi coche tiene {coche.motor.cilindro} cilindros')

Motor encendido
Mi coche consume 2000 cc
Mi coche consume 2000 cc
Mi coche tiene <__main__.Cilindro object at 0x790a15cac8d0> cilindros

## **Resumen:**

![image.png]()

## Relaciones de Muchos a Muchos entre clases

In [ ]:
class Estudiante:
    def __init__(self, nombre):
        self.nombre = nombre
        self.cursos = []

    def agregar_curso(self, curso):
        if curso not in self.cursos:
            self.cursos.append(curso)
            curso.agregar_estudiante(self)

class Curso:
    def __init__(self, nombre):
        self.nombre = nombre
        self.estudiantes = []

    def agregar_estudiante(self, estudiante):
        if estudiante not in self.estudiantes:
            self.estudiantes.append(estudiante)
            estudiante.agregar_curso(self)

# Crear instancias de estudiantes y cursos
estudiante1 = Estudiante("Juan")
estudiante2 = Estudiante("Ana")
curso1 = Curso("Matemáticas")
curso2 = Curso("Historia")

# Establecer relaciones de muchos a muchos
estudiante1.agregar_curso(curso1)
estudiante1.agregar_curso(curso2)
estudiante2.agregar_curso(curso1)

# Verificar las relaciones
print(f"{estudiante1.nombre} está inscrito en: {[curso.nombre for curso in estudiante1.cursos]}")
print(f"{estudiante2.nombre} está inscrito en: {[curso.nombre for curso in estudiante2.cursos]}")
print(f"{curso1.nombre} tiene inscritos a: {[estudiante.nombre for estudiante in curso1.estudiantes]}")
print(f"{curso2.nombre} tiene inscritos a: {[estudiante.nombre for estudiante in curso2.estudiantes]}")

Juan está inscrito en: ['Matemáticas', 'Historia']
Ana está inscrito en: ['Matemáticas']
Matemáticas tiene inscritos a: ['Juan', 'Ana']
Historia tiene inscritos a: ['Juan']

## Rompiendo la relacion de muchos a muchos con una clase intermedia

In [ ]:
class Inscripcion:
    def __init__(self, estudiante, curso):
        self.estudiante = estudiante
        self.curso = curso

class Estudiante:
    def __init__(self, nombre):
        self.nombre = nombre
        self.inscripciones = []

    def agregar_curso(self, curso):
        inscripcion = Inscripcion(self, curso)
        self.inscripciones.append(inscripcion)
        curso.inscripciones.append(inscripcion)

class Curso:
    def __init__(self, nombre):
        self.nombre = nombre
        self.inscripciones = []

# Crear instancias de estudiantes y cursos
estudiante1 = Estudiante("Juan")
estudiante2 = Estudiante("Ana")
curso1 = Curso("Matemáticas")
curso2 = Curso("Historia")

# Establecer relaciones de muchos a muchos
estudiante1.agregar_curso(curso1)
estudiante1.agregar_curso(curso2)
estudiante2.agregar_curso(curso1)

# Verificar las relaciones
for inscripcion in estudiante1.inscripciones:
    print(f"{estudiante1.nombre} está inscrito en {inscripcion.curso.nombre}")

for inscripcion in curso1.inscripciones:
    print(f"{curso1.nombre} tiene inscrito a {inscripcion.estudiante.nombre}")

Juan está inscrito en Matemáticas
Juan está inscrito en Historia
Matemáticas tiene inscrito a Juan
Matemáticas tiene inscrito a Ana

## Representación de las relaciones entre clases

![Tip relacion y su representación.png]()